// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Forum from "../../../index.js";

export declare namespace PollVotesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PollVotesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PollVotesClient.Options>;

    constructor(options: PollVotesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a vote in the Thread's Poll.
     *
     * @param {Forum.CreatevotePollVotesRequest} request
     * @param {PollVotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Forum.BadRequestError}
     * @throws {@link Forum.UnauthorizedError}
     * @throws {@link Forum.NotFoundError}
     * @throws {@link Forum.TooManyRequestsError}
     * @throws {@link Forum.InternalServerError}
     *
     * @example
     *     await client.pollVotes.createvote({
     *         id: "id",
     *         optionId: "optionId"
     *     })
     */
    public createvote(
        request: Forum.CreatevotePollVotesRequest,
        requestOptions?: PollVotesClient.RequestOptions,
    ): core.HttpResponsePromise<Forum.PollVotesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createvote(request, requestOptions));
    }

    private async __createvote(
        request: Forum.CreatevotePollVotesRequest,
        requestOptions?: PollVotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Forum.PollVotesResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ForumEnvironment.Production,
                `threads/${core.url.encodePathParam(id)}/poll/votes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Forum.PollVotesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Forum.BadRequestError(_response.error.body as Forum.ErrorResponse, _response.rawResponse);
                case 401:
                    throw new Forum.UnauthorizedError(
                        _response.error.body as Forum.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Forum.NotFoundError(_response.error.body as Forum.ErrorResponse, _response.rawResponse);
                case 429:
                    throw new Forum.TooManyRequestsError(
                        _response.error.body as Forum.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Forum.InternalServerError(
                        _response.error.body as Forum.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ForumError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/threads/{id}/poll/votes");
    }

    /**
     * Removes the authenticated user's vote. No ID needed.
     *
     * @param {Forum.DeleteOwnvotePollVotesRequest} request
     * @param {PollVotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Forum.UnauthorizedError}
     * @throws {@link Forum.NotFoundError}
     * @throws {@link Forum.TooManyRequestsError}
     * @throws {@link Forum.InternalServerError}
     *
     * @example
     *     await client.pollVotes.deleteOwnvote({
     *         id: "id"
     *     })
     */
    public deleteOwnvote(
        request: Forum.DeleteOwnvotePollVotesRequest,
        requestOptions?: PollVotesClient.RequestOptions,
    ): core.HttpResponsePromise<Forum.DeleteOwnvotePollVotesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteOwnvote(request, requestOptions));
    }

    private async __deleteOwnvote(
        request: Forum.DeleteOwnvotePollVotesRequest,
        requestOptions?: PollVotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Forum.DeleteOwnvotePollVotesResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ForumEnvironment.Production,
                `threads/${core.url.encodePathParam(id)}/poll/votes`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Forum.DeleteOwnvotePollVotesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Forum.UnauthorizedError(
                        _response.error.body as Forum.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Forum.NotFoundError(_response.error.body as Forum.ErrorResponse, _response.rawResponse);
                case 429:
                    throw new Forum.TooManyRequestsError(
                        _response.error.body as Forum.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Forum.InternalServerError(
                        _response.error.body as Forum.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ForumError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/threads/{id}/poll/votes");
    }

    /**
     * @param {Forum.DeletevotePollVotesRequest} request
     * @param {PollVotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Forum.UnauthorizedError}
     * @throws {@link Forum.NotFoundError}
     * @throws {@link Forum.TooManyRequestsError}
     * @throws {@link Forum.InternalServerError}
     *
     * @example
     *     await client.pollVotes.deletevote({
     *         id: "id",
     *         nestedId: "nestedId"
     *     })
     */
    public deletevote(
        request: Forum.DeletevotePollVotesRequest,
        requestOptions?: PollVotesClient.RequestOptions,
    ): core.HttpResponsePromise<Forum.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deletevote(request, requestOptions));
    }

    private async __deletevote(
        request: Forum.DeletevotePollVotesRequest,
        requestOptions?: PollVotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Forum.SuccessResponse>> {
        const { id, nestedId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ForumEnvironment.Production,
                `threads/${core.url.encodePathParam(id)}/poll/votes/${core.url.encodePathParam(nestedId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Forum.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Forum.UnauthorizedError(
                        _response.error.body as Forum.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Forum.NotFoundError(_response.error.body as Forum.ErrorResponse, _response.rawResponse);
                case 429:
                    throw new Forum.TooManyRequestsError(
                        _response.error.body as Forum.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Forum.InternalServerError(
                        _response.error.body as Forum.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ForumError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/threads/{id}/poll/votes/{nestedId}",
        );
    }
}
